In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic_train.csv')

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
s = df['Name']

In [9]:
len(s)

891

In [10]:
s = df['Name'][0:10]

In [11]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [12]:
type(s)

pandas.core.series.Series

In [13]:
#In the above code output we can see the index.
#suppose we want to give our own index then let's see how we can do the same

In [14]:
#Solution: Make a list which you want to put it as index 
lis = ['a','b','c','d','e','f','g','h','i','j']

In [19]:
#Call pd.Series and pass our series s with index = lis because lis contain list of index
s1 = pd.Series(list(s),index = lis)

In [17]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [21]:
s[0]

'Braund, Mr. Owen Harris'

In [22]:
#This is our new named indexed data
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [23]:
s1[0]

'Braund, Mr. Owen Harris'

In [24]:
#You can pass your index name to fetch the data
s1['a']

'Braund, Mr. Owen Harris'

In [25]:
#So, conclusion is you can give desired index name as you want

In [31]:
#Append all data contain by s in s1
s2 = s1.append(s)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9280\642795643.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [32]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [33]:
s2[0]

'Braund, Mr. Owen Harris'

In [35]:
s2[4]

'Allen, Mr. William Henry'

In [43]:
s4 = pd.Series([3,4,5,6,6], index = [2,4,5,6,2])

In [44]:
s5 = pd.Series([34,444,553,6345,635], index = [9,4,5,6,7])

In [47]:
s6 = s4.append(s5)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9280\937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [50]:
s6

2       3
4       4
5       5
6       6
2       6
9      34
4     444
5     553
6    6345
7     635
dtype: int64

In [49]:
s6[4] #This will print data on the basis of named index

4      4
4    444
dtype: int64

In [51]:
s6[0:6] #In this case it read it as default index

2     3
4     4
5     5
6     6
2     6
9    34
dtype: int64

In [52]:
s4

2    3
4    4
5    5
6    6
2    6
dtype: int64

In [53]:
s5

9      34
4     444
5     553
6    6345
7     635
dtype: int64

In [56]:
#What will happen lets see 
s4*s5 
#Here in this case dono me index check krega if index same hoga to operation's 
#Perform krega otherwise NaN return krdega

2        NaN
2        NaN
4     1776.0
5     2765.0
6    38070.0
7        NaN
9        NaN
dtype: float64