# Assignment

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [21]:
import pandas as pd

data = [4,6,15,16,23,43]
series = pd.Series(data)
print(series)

0     4
1     6
2    15
3    16
4    23
5    43
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [28]:
import pandas as pd

data = ['A','B','C','D','E','F','G','H','I','J']
series =pd.Series(data)
print(series)

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:

Name           Age         Gender
Alice          25          Female
Bob            30           Male
Claire         27          Female

 Ans: Creating a Dataframe using list (Method-1)

In [14]:
import pandas as pd

data = [['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]

df = pd.DataFrame(data, columns = ['Name','Age', 'Gender'])
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans: Creating a DataFrame using dictionary (Method-2)

In [38]:
import pandas as pd

data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
       'Gender':['Female','Male','Female']}
#Creating a data frame
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (e.g., integers, strings, floats) in columns. It is similar to a table or spreadsheet where data is organized in rows and columns. A DataFrame provides a way to structure and manipulate data effectively.

On the other hand, a Series is a one-dimensional labeled array that can store data of the same type. It can be thought of as a single column of data, with an index attached to each element. A Series is often used to represent a single column or a single row of a DataFrame.

To understand the difference between a DataFrame and a Series, let's consider an example:

In [36]:
#For example
import pandas as pd

data = {
    'Name': ['Sudhanshu', 'Sumit', 'Atish', 'Arnav'],
    'Age': [23, 30, 35, 40],
    'City': ['Dehradun', 'Patna', 'Delhi', 'Ranchi']
}

# Creating a DataFrame
df = pd.DataFrame(data)
print(df)

        Name  Age      City
0  Sudhanshu   23  Dehradun
1      Sumit   30     Patna
2      Atish   35     Delhi
3      Arnav   40    Ranchi

In [30]:
#For Example

#Creating a Pandas series
series = pd.Series(data)
print(series)

Name    [Sudhanshu, Sumit, Atish, Arnav]
Age                     [23, 30, 35, 40]
City    [Dehradun, Patna, Delhi, Ranchi]
dtype: object

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and transform data in a DataFrame.
Here are some common functions that you can use:

head() and tail(): These functions allow you to view the first or last few rows of the DataFrame. They are useful for quickly inspecting the data or checking the structure of the DataFrame.

info(): This function provides a concise summary of the DataFrame, including the column names, data types, and non-null values. It's helpful for understanding the overall structure of the DataFrame and identifying missing values.

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It gives you insights into the distribution and summary statistics of the data.

shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It's useful for quickly checking the size of the DataFrame.

loc[] and iloc[]: These indexing operators allow you to access and manipulate specific rows and columns in the DataFrame based on their labels or integer positions, respectively.

drop(): This function is used to remove rows or columns from the DataFrame. You can specify the labels of the rows or columns to be dropped, along with the axis parameter (0 for rows, 1 for columns).

fillna(): This function is used to fill missing values in the DataFrame with a specified value or a strategy (e.g., mean, median). It helps in handling missing data before performing analysis or modeling.

groupby(): This function is used for grouping data based on one or more columns. It allows you to perform aggregation operations, such as sum, mean, count, etc., on specific groups of data.

sort_values(): This function is used to sort the DataFrame based on one or more columns. You can specify the column(s) to sort by and the ascending or descending order.

For Example :

In [46]:
import pandas as pd

url_data = pd.read_html('https://www.basketball-reference.com/')

data = url_data[0]
print(data.head(10))

         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  58  24
1   BOS * (2)          F          $  57  25
2   PHI * (3)          F          $  54  28
3   CLE * (4)          F          $  51  31
4   NYK * (5)          F          $  47  35
5   BRK * (6)          F          $  45  37
6   MIA * (7)          F          $  44  38
7   ATL * (8)          F          $  41  41
8   TOR * (9)          F          $  41  41
9  CHI * (10)          F          $  40  42

In [47]:
print(data.dtypes)

East          object
Unnamed: 1    object
Unnamed: 2    object
W              int64
L              int64
dtype: object

In [48]:
print(data.tail)

<bound method NDFrame.tail of           East Unnamed: 1 Unnamed: 2   W   L
0    MIL * (1)          F          $  58  24
1    BOS * (2)          F          $  57  25
2    PHI * (3)          F          $  54  28
3    CLE * (4)          F          $  51  31
4    NYK * (5)          F          $  47  35
5    BRK * (6)          F          $  45  37
6    MIA * (7)          F          $  44  38
7    ATL * (8)          F          $  41  41
8    TOR * (9)          F          $  41  41
9   CHI * (10)          F          $  40  42
10  IND x (11)          F          $  35  47
11  WAS x (12)          F          $  35  47
12  ORL x (13)          F          $  34  48
13  CHO x (14)          F          $  27  55
14  DET x (15)          F          $  17  65>

In [49]:
print(data.tail(10))

          East Unnamed: 1 Unnamed: 2   W   L
5    BRK * (6)          F          $  45  37
6    MIA * (7)          F          $  44  38
7    ATL * (8)          F          $  41  41
8    TOR * (9)          F          $  41  41
9   CHI * (10)          F          $  40  42
10  IND x (11)          F          $  35  47
11  WAS x (12)          F          $  35  47
12  ORL x (13)          F          $  34  48
13  CHO x (14)          F          $  27  55
14  DET x (15)          F          $  17  65

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer:
Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not mutable.

Series: A Series in Pandas is mutable, meaning its elements can be modified after creation. You can change the values of individual elements or update the entire Series by assigning new values.

DataFrame: Similarly, a DataFrame is also mutable. You can modify the values of individual cells, add or remove columns, and perform various operations to update the DataFrame.

Panel: On the other hand, Panel is an advanced data structure in Pandas that can hold data in three dimensions (items, major_axis, and minor_axis). However, as of Pandas version 1.0.0, the Panel data structure has been deprecated and is no longer recommended for use. It is generally considered a best practice to use multi-dimensional arrays or DataFrames to represent three-dimensional data instead.

To summarize, Series and DataFrame are mutable in nature, allowing you to modify their contents, while Panel is not recommended for use and does not have the same level of mutability.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, we can pass a dictionary of Series to the pd.DataFrame() function. 
where each Series will become a column in the resulting DataFrame. 
Here's an example to illustrate the process:

In [39]:
import pandas as pd

# Create individual Series
name_series = pd.Series(['Sudhanshu', 'Sumit', 'Atish', 'Arnav'])
age_series = pd.Series([23, 30, 35, 40])
city_series = pd.Series(['Dehradun', 'Patna', 'Delhi', 'Ranchi'])

# Create a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df = pd.DataFrame(data)
print(df)

        Name  Age      City
0  Sudhanshu   23  Dehradun
1      Sumit   30     Patna
2      Atish   35     Delhi
3      Arnav   40    Ranchi

In this example, we first create three individual Series: name_series, age_series, and city_series. 
Each Series represents a column of data for the DataFrame.

then, we create a dictionary data where the keys represent the column names ('Name', 'Age', 'City'), and the corresponding values are the Series objects.

Finally, we pass the data dictionary to the pd.DataFrame() function, which creates a DataFrame called df. 
The resulting DataFrame has three columns: 'Name', 'Age', and 'City', with the values taken from the respective Series.

By using multiple Series, we can easily combine different sets of data into a tabular structure, allowing for efficient analysis and manipulation using the DataFrame's functionalities.

Note: Create your assignment in Jupyter notebook and upload it in GitHub & share that github
repository link through your dashboard. Make sure the repository is public.